<html>
  <head>
    <!-- If there is a title, then execute that title,
          if not, then do the default -->
    {% if title %}
      <title> {{title}} </title>
    {% else %}
      <title>Home Page - Air Line</title>
    {% endif %}

  </head>
  <body>
    <h1>Welcome to PetJett!</h1>

    <!-- guidelines page -->
    <a href="/guidelines"><button>Check out our guidelines</button></a>

    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Locations</th>
      </tr>
      <tr>
        <td>{{company}}</td>
        <td>Maria Anders</td>
        <td>New York</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Los Angeles</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>San Francisco</td>
      </tr>
    </table>
  <ul>
    <!-- List all the names in a for loop, for the number of names-->
      {% for n in names %}
    <!-- li is for a new line in a list-->
      <li>{{n}}</li>
      {% endfor %}
  </ul>

  {% for n in breeds %}
  <p>{{n.breed}}:{{n.body}}</p>
  {% endfor %}

  </body>
</html>